upstream app {
  {%   for item in groups['app'] %}
  server {{ item }};
  {%   endfor %}
}

server {
  listen 80;
  listen [::]:80;

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;

    proxy_pass http://app/;
  }
}